[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.11.1"
requests = "==2.9.1"
"beautifulsoup4" = "==4.6.3"
microservices = "==0.33.0"
pytest = "==3.8.2"
black = "==18.9b0"

[dev-packages]

[requires]
python_version = "3.5"
